body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #e0f7ff, #b3e5fc, #81d4fa, #4fc3f7, #0288d1);
    background-attachment: fixed;
    color: #333;
}
h1 {
    color: #333;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #ff0000;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}